/* COMMON */
:root{
    --green: rgba(26, 188, 156, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(55, 84, 109, 1);
    --dark-grey: rgba(44, 62, 80, 1);
}



.debug{
    border: 1px solid black;
    min-height: 50px;
}

.bg-green{
    background-color: var(--green);
}
.bg-lightgrey{
    background-color: var(--grey);
}
.bg-darkgrey{
    background-color: var(--dark-grey);
}
body{
    background-color: var(--white);
    color: var(--dark-grey);
}
h1, h2, h3{
    margin-top: 2rem;
}
h3{
    font-size: 1.25rem;
    color: var(--white);
    margin-bottom: 2rem;
}
/*
###################################################
HEADER
###################################################
*/
header{
    background-color:  var(--dark-grey);
    position: fixed;
    /*height: 90px;*/
    top: 0;
    width: 100%;
}

/*
###################################################
MAIN
###################################################
*/
#hero, #abou, #contact{
    padding-top: 100px;
}
.avatar{
    width: 70%;
    max-width: 100%;
}
.img-portfolio{
    max-width: 100%;
    width: 90%;
    align-items: center;
    padding: 1rem 1.5rem;
}

.col-bar-white, .col-bar-black{
    height: 4px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6vh;
}
.col-bar-black{
    background-color: var(--dark-grey);
}
.col-bar-white{
    background-color: var(--white);
}
.fa-star, .white, .black{
    font-size: 275%;
}
.white{
    color: var(--white);
}
.black{
    color: var(--dark-grey);
}
.row-info{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.text-left{
    text-align: left;
    font-size: 1rem;
}